body,html{
	height:100%;
}

body{
	background:url(../img/bg_home.svg) no-repeat left bottom;
	background-size:cover;
}




.anim_tente{
	width:186px;
	height:137px;
	overflow:hidden;
	position:absolute;
	left:50px;
	bottom:50px;
}

.anim_tente{
	position:absolute;
	width:100%;
	left:20px;
	bottom:50px;
}

.anim_tente img{
	display:block;
}

.title{
	position:absolute;
	right:80px;
	top:100px;
}

.buttonz{
	position:absolute;
	right:80px;
	top:250px;
}

.buttonz a{
	opacity:0.7;
	display:block;
	color:white;
	text-decoration:none;
	text-align:right;
	font-family: 'Amatic SC', cursive;
	letter-spacing:5px;
	font-size:1.8em;
	padding:20px;
	margin-bottom:10px;
	border:solid 1px rgba(255,255,255,0);	
}

.buttonz a:hover{
	opacity:1;
	border:solid 1px rgba(255,255,255,1);
	border-radius:10px;
}

.ground{
	background:black;
	width:100%;
	height:50px;
	position:absolute;
	left:0;
	bottom:0;
}